In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas.api.types import CategoricalDtype
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.linear_model import Ridge

print(pd.__version__)

%matplotlib inline

0.22.0

In [3]:
# Read table

mercari_data = pd.read_table("./train.tsv", index_col = 'train_id', dtype = {'item_condition_id':CategoricalDtype(categories = [str(i) for i in range(1,6)], ordered = True), 'category_name':'category', 'brand_name': 'category', 'shipping':'category'})

/Users/Abe/anaconda3/lib/python3.6/site-packages/numpy/lib/arraysetops.py:466: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [4]:
cat1, cat2, cat3, a = mercari_data.category_name.str.split("/", 3).str
mercari_data['category_1'] = cat1
mercari_data['category_2'] = cat2
mercari_data['category_3'] = cat3
for col in ['category_1', 'category_2', 'category_3']:
    mercari_data[col] = mercari_data[col].astype('category')

In [5]:
mercari_data['log_price'] = np.log(mercari_data.price + 1)

In [18]:
mercari_data[(mercari_data['category_1'] == 'Men') & (mercari_data['category_2'] == 'Tops') & (mercari_data['category_3'] == 'T-shirts')].head(10)

,name,item_condition_id,category_name,brand_name,price,shipping,item_description,category_1,category_2,category_3,log_price
train_id,,,,,,,,,,,
0,MLB Cincinnati Reds T Shirt Size XL,3,Men/Tops/T-shirts,NaN,10.0,1,No description yet,Men,Tops,T-shirts,2.397895
78,Trump Shirt,3,Men/Tops/T-shirts,NaN,9.0,0,Worn once; will be washed before sent,Men,Tops,T-shirts,2.302585
151,Nike men's dri-fit sleeveless shirt tee,3,Men/Tops/T-shirts,Nike,14.0,0,This is a men's Nike dri-fit shirt which is bl...,Men,Tops,T-shirts,2.708050
350,Stussy vintage dot Ragland LARGE,1,Men/Tops/T-shirts,NaN,33.0,0,Brand new with tags white/burgundy,Men,Tops,T-shirts,3.526361
352,2-Mens XXL Cruise Ship T-Shirts NWOT,2,Men/Tops/T-shirts,NaN,9.0,0,2-Mens XXL Cruise Ship T-Shirts. Grey-Royal Ca...,Men,Tops,T-shirts,2.302585
432,"'Garbage"" tee",3,Men/Tops/T-shirts,NaN,7.0,1,A black tee with white screen print g and garb...,Men,Tops,T-shirts,2.079442
497,Nintendo 64 Men's T shirt Size 2XL,1,Men/Tops/T-shirts,Nintendo,15.0,1,New t shirt Official Licensed Product Size 2XL,Men,Tops,T-shirts,2.772589
660,Undefeated T-Shirt,2,Men/Tops/T-shirts,Undefeated,19.0,0,Like new condition Quality material Staple piece,Men,Tops,T-shirts,2.995732
1357,Huf Shirt,2,Men/Tops/T-shirts,HUF,22.0,0,"Basically brand new. No wear or tear, great co...",Men,Tops,T-shirts,3.135494
1408,Men's Nike shirt,3,Men/Tops/T-shirts,Nike,34.0,0,"Men's Nike shirt. Black . Used once, can barel...",Men,Tops,T-shirts,3.555348

In [23]:
data_subset = mercari_data[(mercari_data['category_1'] == 'Men') & (mercari_data['category_2'] == 'Tops') & (mercari_data['category_3'] == 'T-shirts')]
print(data_subset['item_description'].count())

data_subset = data_subset[data_subset['item_description'] != 'No description yet']
print(data_subset['item_description'].count())

15108
13851

In [55]:
# Credit for some of this goes to Mike D.
vectorizer = CountVectorizer(stop_words="english", binary = True)
transformed = vectorizer.fit_transform(data_subset['item_description'])
sparse_sums = transformed.sum(axis = 0)
feature_names = vectorizer.get_feature_names()
sorted_word_counts = sorted(zip(feature_names, sparse_sums.tolist()[0]), key = lambda x: x[1], reverse = True)

In [57]:
# Do try experimenting with alpha.  Keep the variance and bias within reason
reg = Ridge(alpha=.1)

# Now it's time to decide which featuresd (words) you want to look at.
# Don't choose words like stop-words, which are really common (but appear not to be
# in your vocaubulary anyway since you took them out in the default
# preprocessor) but also don't choose words that don't appear much

# If and after you've set a minimum threshold, use some module from
# sklearn.feature_selection, like sklearn.feature_selection.mutual_info_regression
# to decide which words actually matter.  The reason you're ultimately putting this into
# a ridge regression is because some words could be very crosscorrelated, 
# resulting in a high-variance model

# the sklearn website has a good example on the feature_selection tools
# and compares the results of one to SVM weights