In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas.api.types import CategoricalDtype

print(pd.__version__)

%matplotlib inline

0.22.0

In [2]:
train_df = pd.read_table("./train.tsv", index_col = 'train_id', dtype = {'item_condition_id':CategoricalDtype(categories = [str(i) for i in range(1,6)], ordered = True), 'category_name':'category', 'brand_name': 'category', 'shipping':'category'})

/Users/Abe/anaconda3/lib/python3.6/site-packages/numpy/lib/arraysetops.py:466: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [3]:
a, b, c, d = train_df['category_name'].str.split("/", 3).str
category_oneLevel = a
category_twoLevel = a + "/" + b
category_threeLevel = a + "/" + b + "/" + c
train_df['category_oneLevel'] = category_oneLevel
train_df['category_twoLevel'] = category_twoLevel
train_df['category_threeLevel'] = category_threeLevel
for col in ['category_oneLevel', 'category_twoLevel', 'category_threeLevel']:
    train_df[col] = train_df[col].astype('category')

In [4]:
for i in train_df.category_oneLevel.cat.categories.values:
    print(i)

Beauty
Electronics
Handmade
Home
Kids
Men
Other
Sports & Outdoors
Vintage & Collectibles
Women

In [5]:
for i in train_df.category_twoLevel.cat.categories.values:
    print(i)

Beauty/Bath & Body
Beauty/Fragrance
Beauty/Hair Care
Beauty/Makeup
Beauty/Other
Beauty/Skin Care
Beauty/Tools & Accessories
Electronics/Cameras & Photography
Electronics/Car Audio, Video & GPS
Electronics/Cell Phones & Accessories
Electronics/Computers & Tablets
Electronics/Media
Electronics/Other
Electronics/TV, Audio & Surveillance
Electronics/Video Games & Consoles
Handmade/Accessories
Handmade/Art
Handmade/Bags and Purses
Handmade/Books and Zines
Handmade/Candles
Handmade/Ceramics and Pottery
Handmade/Children
Handmade/Clothing
Handmade/Crochet
Handmade/Dolls and Miniatures
Handmade/Furniture
Handmade/Geekery
Handmade/Glass
Handmade/Holidays
Handmade/Housewares
Handmade/Jewelry
Handmade/Knitting
Handmade/Music
Handmade/Needlecraft
Handmade/Other
Handmade/Others
Handmade/Paper Goods
Handmade/Patterns
Handmade/Pets
Handmade/Quilts
Handmade/Toys
Handmade/Weddings
Handmade/Woodworking
Home/Artwork
Home/Bath
Home/Bedding
Home/Cleaning Supplies
Home/Furniture
Home/Home Appliances
Home/Home Décor
Home/Kids' Home Store
Home/Kitchen & Dining
Home/Other
Home/Seasonal Décor
Home/Storage & Organization
Kids/Bathing & Skin Care
Kids/Boys (4+)
Kids/Boys 0-24 Mos
Kids/Boys 2T-5T
Kids/Car Seats & Accessories
Kids/Diapering
Kids/Feeding
Kids/Gear
Kids/Girls (4+)
Kids/Girls 0-24 Mos
Kids/Girls 2T-5T
Kids/Health & Baby Care
Kids/Nursery
Kids/Other
Kids/Potty Training
Kids/Pregnancy & Maternity
Kids/Safety
Kids/Strollers
Kids/Toys
Men/Athletic Apparel
Men/Blazers & Sport Coats
Men/Coats & Jackets
Men/Jeans
Men/Men's Accessories
Men/Other
Men/Pants
Men/Shoes
Men/Shorts
Men/Suits
Men/Sweaters
Men/Sweats & Hoodies
Men/Swimwear
Men/Tops
Other/Automotive
Other/Books
Other/Daily & Travel items
Other/Magazines
Other/Musical instruments
Other/Office supplies
Other/Other
Other/Pet Supplies
Sports & Outdoors/Apparel
Sports & Outdoors/Exercise
Sports & Outdoors/Fan Shop
Sports & Outdoors/Footwear
Sports & Outdoors/Golf
Sports & Outdoors/Other
Sports & Outdoors/Outdoors
Sports & Outdoors/Team Sports
Vintage & Collectibles/Accessories
Vintage & Collectibles/Antique
Vintage & Collectibles/Bags and Purses
Vintage & Collectibles/Book
Vintage & Collectibles/Clothing
Vintage & Collectibles/Collectibles
Vintage & Collectibles/Electronics
Vintage & Collectibles/Furniture
Vintage & Collectibles/Home Decor
Vintage & Collectibles/Housewares
Vintage & Collectibles/Jewelry
Vintage & Collectibles/Other
Vintage & Collectibles/Paper Ephemera
Vintage & Collectibles/Serving
Vintage & Collectibles/Supplies
Vintage & Collectibles/Toy
Vintage & Collectibles/Trading Cards
Women/Athletic Apparel
Women/Coats & Jackets
Women/Dresses
Women/Jeans
Women/Jewelry
Women/Maternity
Women/Other
Women/Pants
Women/Shoes
Women/Skirts
Women/Suits & Blazers
Women/Sweaters
Women/Swimwear
Women/Tops & Blouses
Women/Underwear
Women/Women's Accessories
Women/Women's Handbags

In [6]:
train_df.head()

,name,item_condition_id,category_name,brand_name,price,shipping,item_description,category_oneLevel,category_twoLevel,category_threeLevel
train_id,,,,,,,,,,
0,MLB Cincinnati Reds T Shirt Size XL,3,Men/Tops/T-shirts,NaN,10.0,1,No description yet,Men,Men/Tops,Men/Tops/T-shirts
1,Razer BlackWidow Chroma Keyboard,3,Electronics/Computers & Tablets/Components & P...,Razer,52.0,0,This keyboard is in great condition and works ...,Electronics,Electronics/Computers & Tablets,Electronics/Computers & Tablets/Components & P...
2,AVA-VIV Blouse,1,Women/Tops & Blouses/Blouse,Target,10.0,1,Adorable top with a hint of lace and a key hol...,Women,Women/Tops & Blouses,Women/Tops & Blouses/Blouse
3,Leather Horse Statues,1,Home/Home Décor/Home Décor Accents,NaN,35.0,1,New with tags. Leather horses. Retail for [rm]...,Home,Home/Home Décor,Home/Home Décor/Home Décor Accents
4,24K GOLD plated rose,1,Women/Jewelry/Necklaces,NaN,44.0,0,Complete with certificate of authenticity,Women,Women/Jewelry,Women/Jewelry/Necklaces

In [7]:
# Create column for (adult) clothing type that does not distinguish gender - You will just have NaN's for all the items that are not clothing

def get_clothing_type(elem):
    try:
        cat = elem['category_name'].split("/")
        if cat[0] in ['Men', 'Women']: return cat[1]
        else: return np.nan  
    except AttributeError: return np.nan # This error means that the category_name was NaN in the first place

train_df['clothing_type'] = train_df.apply(get_clothing_type, axis = 1).astype('category')

In [8]:
train_df.head(20)

,name,item_condition_id,category_name,brand_name,price,shipping,item_description,category_oneLevel,category_twoLevel,category_threeLevel,clothing_type
train_id,,,,,,,,,,,
0,MLB Cincinnati Reds T Shirt Size XL,3,Men/Tops/T-shirts,NaN,10.0,1,No description yet,Men,Men/Tops,Men/Tops/T-shirts,Tops
1,Razer BlackWidow Chroma Keyboard,3,Electronics/Computers & Tablets/Components & P...,Razer,52.0,0,This keyboard is in great condition and works ...,Electronics,Electronics/Computers & Tablets,Electronics/Computers & Tablets/Components & P...,NaN
2,AVA-VIV Blouse,1,Women/Tops & Blouses/Blouse,Target,10.0,1,Adorable top with a hint of lace and a key hol...,Women,Women/Tops & Blouses,Women/Tops & Blouses/Blouse,Tops & Blouses
3,Leather Horse Statues,1,Home/Home Décor/Home Décor Accents,NaN,35.0,1,New with tags. Leather horses. Retail for [rm]...,Home,Home/Home Décor,Home/Home Décor/Home Décor Accents,NaN
4,24K GOLD plated rose,1,Women/Jewelry/Necklaces,NaN,44.0,0,Complete with certificate of authenticity,Women,Women/Jewelry,Women/Jewelry/Necklaces,Jewelry
5,Bundled items requested for Ruie,3,Women/Other/Other,NaN,59.0,0,"Banana republic bottoms, Candies skirt with ma...",Women,Women/Other,Women/Other/Other,Other
6,Acacia pacific tides santorini top,3,Women/Swimwear/Two-Piece,Acacia Swimwear,64.0,0,Size small but straps slightly shortened to fi...,Women,Women/Swimwear,Women/Swimwear/Two-Piece,Swimwear
7,Girls cheer and tumbling bundle of 7,3,Sports & Outdoors/Apparel/Girls,Soffe,6.0,1,You get three pairs of Sophie cheer shorts siz...,Sports & Outdoors,Sports & Outdoors/Apparel,Sports & Outdoors/Apparel/Girls,NaN
8,Girls Nike Pro shorts,3,Sports & Outdoors/Apparel/Girls,Nike,19.0,0,Girls Size small Plus green. Three shorts total.,Sports & Outdoors,Sports & Outdoors/Apparel,Sports & Outdoors/Apparel/Girls,NaN
9,Porcelain clown doll checker pants VTG,3,Vintage & Collectibles/Collectibles/Doll,NaN,8.0,0,I realized his pants are on backwards after th...,Vintage & Collectibles,Vintage & Collectibles/Collectibles,Vintage & Collectibles/Collectibles/Doll,NaN
10,Smashbox primer,2,Beauty/Makeup/Face,Smashbox,8.0,1,0.25 oz Full size is 1oz for [rm] in Sephora,Beauty,Beauty/Makeup,Beauty/Makeup/Face,NaN
11,New vs pi k body mists,1,Beauty/Fragrance/Women,Victoria's Secret,34.0,0,(5) new vs pink body mists (2.5 oz each) Fresh...,Beauty,Beauty/Fragrance,Beauty/Fragrance/Women,NaN
12,Black Skater dress,2,"Women/Dresses/Above Knee, Mini",rue,16.0,0,"Xl, great condition",Women,Women/Dresses,"Women/Dresses/Above Knee, Mini",Dresses
13,Sharpener and eraser,1,Other/Office supplies/School Supplies,Scholastic,4.0,1,No description yet,Other,Other/Office supplies,Other/Office supplies/School Supplies,NaN
14,HOLD for Dogs2016 Minnetonka boots,3,Women/Shoes/Boots,UGG Australia,43.0,0,Authentic. Suede fringe boots. Great condition...,Women,Women/Shoes,Women/Shoes/Boots,Shoes
15,Sephora tarte birthday gift,1,Beauty/Makeup/Makeup Sets,Tarte,11.0,1,Brand new. Deluxe travel size products. Contai...,Beauty,Beauty/Makeup,Beauty/Makeup/Makeup Sets,NaN
16,Glitter Eyeshadow,1,Beauty/Makeup/Eyes,Wet n Wild,6.0,1,2 glitter eyeshadows; one in Brass and one in ...,Beauty,Beauty/Makeup,Beauty/Makeup/Eyes,NaN
17,New: Baby K'tan active baby carrier,1,Kids/Gear/Backpacks & Carriers,NaN,29.0,1,Brand new in box Size: Medium Color: Coral Ret...,Kids,Kids/Gear,Kids/Gear/Backpacks & Carriers,NaN
18,"Too Faced Limited ""Merry Macaroons""",1,Beauty/Makeup/Makeup Palettes,Too Faced,25.0,1,This AUTHENTIC pallete by Too Faced is brand n...,Beauty,Beauty/Makeup,Beauty/Makeup/Makeup Palettes,NaN
19,Cream/ Beige Front Cross Shirt,2,Women/Tops & Blouses/Blouse,Anthropologie,27.0,0,"Fancy, dressy or casual! Dress it up or down 1...",Women,Women/Tops & Blouses,Women/Tops & Blouses/Blouse,Tops & Blouses